@mixin size($a,$b: $a) {
  width: $a;
  height: $b;
}
  
@mixin media($size) {
  @media screen and (max-width: $size+'px') {
    @content;
  }
}
  
@mixin center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%)
}