$default-font: 'Gilroy', sans-serif;
$white: #fff;
$black: #000;
$blue:  #0066FF;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"

$grid-gutter-width: 20px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 100%, md: 900px, lg: 1100px, xl: 1200px);

$gutter: $grid-gutter-width;
